html, body {
  height: 100%;
  margin: 0;
}

/* Estilo Base */
body {
  color: var(--primary-color);
  background: url('https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg'), var(--bg-color);
  background-size: cover;
  /* Suporte a flexbox em navegadores antigos */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

main {
  /* Suporte para propriedade flex em navegadores legados */
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
}








