#todo-list {
  max-height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--bg-color);
  margin-bottom: 5px;
}

#todo-list::-webkit-scrollbar {
  width: 8px;
}

#todo-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

#todo-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

#todo-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}