.todo-date {
  color: var(--primary-color);
}


#todo-desc,
.description {
  background: var(--bg-form-control);
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}
