.button {
  background-color: var(--bg-btn);
  color: var(--primary-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 8px 12px;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
          transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: var(--hover-color);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}