footer {
  padding: 0;
  width: 100%;
}

footer p {
  font-size: 0.875rem;
  text-align: center;
  padding: 1rem;
  margin: 0;
}

footer p a {
  color: var(--primary-color);
  text-decoration: none;
}

footer p a:hover {
  color: #9ea135;
  text-decoration: none;
}

/* Footer */
.bg-footer {
  background: rgba(14, 16, 31, 0.4);
}
