@import url('./variables.css');
html, body {
  height: 100%;
  margin: 0;
}

/* Estilo Base */
body {
  color: var(--primary-color);
  background: url('https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg'), var(--bg-color);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 1 0;
}

/* Headers e Títulos */
header h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--text-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
h1.title {
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.95);
}

h5 {
  text-transform: uppercase;
  font-weight: 420;
  letter-spacing: 1px;
}

/* Footer */
.bg-forest {
  background: rgba(14, 16, 31, 0.4);
}
footer {
  padding: 0;
  width: 100%;
}
footer p {
  font-size: 0.875rem;
  text-align: center;
  padding: 1rem;
  margin: 0;
}
footer p a {
  color: var(--primary-color);
  text-decoration: none;
}
footer p a:hover {
  color: #9ea135;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
  border: 2px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

* {
  scrollbar-width: thin; 
  scrollbar-color: #333 #1a1a1a;
}