@import url('./variables.css');

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Inputs e Form Controls */
#search-input,
#filter-select {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  -webkit-transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.3s ease, border-color 0.3s ease;
          transition: transform 0.2s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

#search-input:focus {
  border-color: var(--border-color);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.form-control input,
.form-control select {
  background-color: var(--bg-form-control);
  color: var(--primary-color);
  border: 1px solid var(--border-color);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 8px 12px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}
