:root {
  --primary-color: #fff;
  --bg-modal-color: #191919;
  --bg-color: #121212;
  --bg-container: #1e1e1e;
  --bg-form-control: #292929;
  --bg-btn: #333;
  --darkness-color: #111111 ;
  --hover-color: #555; 
  --border-color: #444;

  --text-color: #f1f1f1;
}
body {
    background-color: var(--bg-color);
    color: var(--primary-color);
  }
.todo-container {
    background-color: var(--bg-container);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
header h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--text-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
h1.title{
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.95);
}
h5{
  text-transform: uppercase;
  font-weight: 420;
  letter-spacing: 1px;
}
#search-input{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  transition: transform 0.2s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}
#search-input:focus {
  border-color: var(--border-color);

  transform: scale(1.01);
}
#filter-select{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}
.form-control input,
.form-control select {
  background-color: var(--bg-form-control);
  color: var(--primary-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 8px 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}
.button {
  background-color: var(--bg-btn);
  color: var(--primary-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 8px 12px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button:hover {
  background-color: var(--hover-color);
  transform: scale(1.05); /* Aumenta o tamanho para 105% */
}
.modal{
  --bs-modal-color: var(--primary-color);
  --bs-modal-bg: var(--darkness-color);
  --bs-modal-border-color: var(--border-color);
}